.container {
  background: #000;
  color: #fff;
  height: 70px;
  width: 100%;
}

.list {
  list-style: none;
  float: right;
  width: 40%;
}

.listItem {
  display: inline-block;
  font-size: 20px;
  margin: 0 10px;
}